/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/AV11RIXp8xRV.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/RYpIRuU8Mj5A.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/wq6g1fEHgcr7.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/lqKWkBikyXRE.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/nnTqSDLKkQAO.otf') format('truetype');
}