/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/uuCq664ffF09.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/EMRIOOoicjyw.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/PfxpiK4GCzdd.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/tlBu7txTQ9PJ.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/bAAzqFvkt5Ui.otf') format('truetype');
}