body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between; /* Garante que os itens estejam nos extremos e no centro */
    align-items: center; /* Centraliza verticalmente os itens */
    background-color: #ffffff; /* Cor de fundo do navbar */
    padding-left: 10px;
}

.menu-icon, .logo-right, .logo-central {
    flex-grow: 0; /* Não permite que os itens cresçam */
    flex-shrink: 0; /* Não permite que os itens encolham */
}

.menu-icon, .logo-right {
    margin: 0; /* Remove margens para que fiquem nos extremos */
}

.logo-central {
    flex-grow: 1; /* Permite que a logo central cresça e ocupe todo o espaço restante */
    text-align: center; /* Centraliza a logo no espaço disponível */
}

.material-symbols-outlined {
    font-size: 24px; /* Ajuste o tamanho do ícone conforme necessário */
}

.logo-central img, .logo-right img {
    height: 4vh; /* Ajuste a altura conforme necessário */
}




.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.bracelet-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    padding-top: 20px;
}

.bracelet-item {
    width: 44%;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
    border-radius: 10px;
}

.bracelet-item img {
    width: 100%;
    height: auto;
}

.bracelet-item p {
    margin: 10px 0;
    color: #333;
}

.price-tag {
    background-color: #FF69B4;
    color: white;
    padding: 5px 10px;
    position: absolute;
    bottom: -10px;
    right: 10px;
    border-radius: 50%;
    font-size: 16px;
}

.bracelet-item:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}


.footer {
    position: relative;
    width: 100%;
    margin-bottom: -15px;
    background-color: #FFA87B;
    padding-bottom: 2px;
}

.dinheiro2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%; /* Adicione margem à direita para que o ">" não fique colado na borda */
    margin-bottom: 15px;
    font-family: 'GellixMedium';
}

.old {
    text-decoration: line-through;
    font-family: 'GellixMedium';
}

.new {
    font-family: 'GellixSemiBold';
    background-color: #000000;
    padding: 3px 10px 3px 10px;
    border-radius: 15px;
    text-align: center;
    color: white !important;
}

.nome {
    font-family: 'GellixMedium';
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.title {
    font-family: 'GellixMedium';
    text-align: center;
    font-size: 24px;
    margin-left: 5%;
    margin-right: 5%;
    color: rgb(37, 37, 37);
}

.subtitle {
    text-align: center;
    font-size: 18px;
    margin-left: 2%;
    margin-bottom: 10px;
    color: rgb(37, 37, 37);
    font-family: 'GellixRegular';
}

.code {
    font-family: 'GellixRegular';
    text-align: center;
    font-size: 14px;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(128, 128, 128);
    margin-top: -15px;
}

.sizes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Centraliza os botões e mantém espaço entre eles */
    max-width: 500px; /* Largura máxima do contêiner para alinhar os botões corretamente */
    margin: auto; /* Centraliza o contêiner na página */
}

.size-btn {
    padding: 10px 10px; /* Ajusta o padding para melhorar a apresentação */
    margin: 5px; /* Mantém uma margem entre os botões */
    background-color: #ffffff;
    border: 2px solid #ddd;
    color: #171717;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 15px;
    flex-basis: calc(20% - 10px); /* Calcula a largura de cada botão menos a margem */
    text-align: center; /* Centraliza o texto dentro do botão */
    font-family: 'GellixMedium';
}

.size-btn:hover, .size-btn.active {
    background-color: #fff8f4;
    border-color: #FFA87B;
}

.resgatar {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 45px;
    background-color: black;
    color: white;
    display: block;
    margin: 0 auto;
    border: none;
    font-family: 'GellixRegular';
    font-size: 17px;
    margin-top: 30px;
}

.divisoria {
    border-bottom: 1px solid rgb(68, 68, 68);
    width: 90%;
    left: 2.5%;
    right: 2.5%;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
}

.text2 {
    font-family: 'GellixRegular';
    color: rgb(128, 128, 128);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}

.title2 {
    font-family: 'GellixRegular';
    color: rgb(68, 68, 68);
    margin-bottom: 8px;
    font-size: 16px;
}