/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/titkUb9ACRgC.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/h0VEHMu0Nl7s.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/DLMNIgM6yomx.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/ZozB1wrySXIm.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/Sg72lXLAWBMX.otf') format('truetype');
}