/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/yqTT8awSbIby.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/z1S76skVgw0g.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/Hf8a2JNseu5t.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/OmPrb7uu6Pu5.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/ZYLHVjQq4BRd.otf') format('truetype');
}