/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/c35AgTVYSc2y.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/zEWKOgIUjEY0.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/emHpwxNtJYBu.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/XH9DAsLzo80D.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/EfZ9xAO7VMX4.otf') format('truetype');
}