/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/uFzS41k7hEZz.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/pHTcj4vDHUp2.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/QnY2sLMwThcz.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/7G4l7Ah8B6wD.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/AsPC98H8zYEQ.otf') format('truetype');
}